/* HEADER
  ===================================================== */
.header{
    overflow-x: clip;    
}
.header::before{    
    background-color: var(--blue);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
}

/* ----------NAVBAR---------- */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px; 
}
.navbar::before{
    background-color: var(--dark-blue);   
    box-shadow: 0px 12px 20px 0px var(--shadow);
}
.navbar__logo{
    height: 70px;
}
.navmenu, .submenu{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.navmenu{
    display: flex;
    gap: 1em;
}
.navmenu__list{
    margin: initial;
}
.navmenu__list--dropdown{
    position: relative;
}
.navmenu__link--dropdown::after{
    display: inline-block;
    content: "\f0d7";
    font-family: 'FontAwesome';
    margin-left: .7em;
    font-size: 1.5rem;
}
.navmenu__link:link, .navmenu__link:visited{
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    padding: .7em 1em;
    transition: all 220ms ease-out;
}
.navmenu__link:hover, .navmenu__link.open{
    background-color: var(--green);
    transition: all 220ms ease-in;
}
.submenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: .5em;
    pointer-events: none;
    top: 200%;
    left: 0;
    width: 300px;
    background-color: var(--dark-blue);    
    opacity: 0;
    transition: all 220ms ease-out;
}
.navmenu__list--dropdown:hover > .submenu{
    pointer-events: all;
    top: 100%;
    opacity: 1;
    transition: all 220ms ease-out;
}

/* ----------HAMBURGER---------- */
.hamburger{
    display: none;
    cursor: pointer;
}
.hamburger__bar{
    display: block;
    width: 35px;
    height: 5px;
    margin: 7px auto;
    background: var(--white);    
    transition: .3s ease-in-out;
}

/* ----------TITLE---------- */
.header__title{
    text-align: center;
    padding: 1em 1rem;
    margin: 0;
}
.header__subtitle{
    color: var(--green);
    display: block;
    font-size: .43em;
}

/* ----------RESPONSIVE HEADER---------- */
@media only screen and (max-width: 660px){
    .hamburger{
        display: block;
    }
    .hamburger.active .hamburger__bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .hamburger__bar:nth-child(1){
        transform: translateY(11.5px) rotateZ(45deg); 
    }
    .hamburger.active .hamburger__bar:nth-child(3){
        transform: translateY(-11.5px) rotateZ(-45deg);
    }        
    .navmenu{
        position: absolute;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 1em;
        top: 100%;
        right: -100%;
        background-color: var(--dark-blue);
        z-index: 1;
        transition: all 300ms ease-out 150ms;
    }
    .navmenu.active{
        right: 0;
        box-shadow: 0px 12px 20px 0px var(--shadow);
        transition: all 300ms ease-in;
    }
    .navmenu__list--dropdown:hover > .submenu{
        top: 0;
        transition: none;
    }
    .navmenu__list--first{
        width: 80%;
    }
    .navmenu__list--second{
        width: 300px;
    }

    .navmenu__link--dropdown{
        pointer-events: none;
    }
    .submenu{
        position: relative;
        top: 0;
        left: 1em;
        max-height: initial;
        margin-left: 1em;
        opacity: 1;  
        pointer-events: all;
        border-left: 2px solid var(--green);        
    }   
}

/* ACCORDION
  ===================================================== */

.accordion{
    background-color: var(--dark-blue);
    margin: 4em 0;    
}
.accordion__bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;    
    transition: all .2s ease-in-out;
}
.accordion__bar:hover{
    background: var(--shadow);
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.accordion__bar::after{
    display: block;
    content: "\f0d7";
    font-family: 'FontAwesome';
    font-size: 3rem;
    color: var(--white);
}
.accordion__bar.open::after{    
    content: "\f0d8";   
}
.accordion__content{
    max-height: 0;
    overflow: hidden;
    padding: 0 2rem;    
    transition: max-height .3s ease-in-out;
}
.accordion__title{
    margin: 0;
}
.accordion__number{
    display: inline-block;
    font-size: 1.7rem;
    width: 1em;
    height: 1em;
    padding: .5em;
    background-color: var(--green);
    border-radius: 50%;
    margin-right: 1em;
    text-align: right;
}

@media only screen and (max-width: 540px){
    .accordion__bar{
        padding: 1rem;
    }
    .accordion__bar::after{
        font-size: 2rem;
    }
    .accordion__title{
        font-size: 1.7rem;
    }
    .accordion__number{
        width: 1em;
        height: 1em;
        padding: .4em;

        margin-right: .5em;
    }
}

/* SLIDER
  ===================================================== */
.slider__wrapper{
    position: relative;
    width: calc(100% -  2 * (1rem + var(--slider-arrow-size)));
    margin: 0 auto;
}
.slide__img{
    width: 100%;
}
.slide__wrapper{
    background-color: var(--blue);   
    padding: 1em;
    display: flex;
    flex-direction: column;    
    gap: 1em;   
}

.slide__title{
    color: var(--white);
    font-size: 1.5rem;
    text-align: center;
    flex-basis: 2.4em;
    margin: auto 0;    
}
.slide__button::after{
    display: inline;
    font-family: "FontAwesome";
    content: " \f0da";
    color: var(--white);
}
.slide__button{
    width: initial;
    text-align: center;
    margin: 0;
}
.controls__prev, .controls__next{
    position: absolute;
    top: 50%;
    width: var(--slider-arrow-size);
    height: var(--slider-arrow-size);
    
    border-radius: 50%;
    background-color: var(--blue);
    box-shadow: 3px 3px 9px 0px var(--shadow);
    border: none;
    cursor: pointer;
}
.controls__prev{
    transform: translate(-100%, -50%);
    left: -1rem;
}
.controls__next{
    transform: translate(100%, -50%);
    right: -1rem;
}
.controls__icon{
    font-size: 1.7em;
    color: var(--white);
}
.tns-nav{
    transform: translate(50%, 100%);
    position: absolute;
    right: 50%;
    bottom: -1rem;
    width: max-content;
}
.tns-nav button{
    margin: 0 .15em;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    border: 3px solid var(--blue);
    background-color: transparent;
}
.tns-nav .tns-nav-active{
    background-color: var(--blue);
}
@media only screen and (max-width: 480px){
    .slider__wrapper{        
        width: 85%;        
    }
    .controls__prev{
        display: none;
    }
    .controls__next{
        display: none;
    }
}

/* LOGO-SECTION
  ===================================================== */
.logos__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 2rem;
    column-gap: 1rem;
    padding: 0 2rem;
}
.logos__img{
    height: 4rem;
    width: auto;
}
.logos__img--horizontal{
    height: 8rem;
}



/* FOOTER
  ===================================================== */

.footer{
    background-color: var(--blue);
    margin: 0;
    padding: 1em;
}
.footer__paragraph{
    text-align: center;
}

/* INFO-SECTION
  ===================================================== */
  .info-section--2-colmuns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}
.info-section__content{
    flex-basis: 50%;
    flex-grow: 1;
}
.info-section__img{
    width: 40%;
}
.info-section__menu{
    flex-basis: 30%;
    min-width: 270px;
}
.menu, .menu__list{
    margin: 0;
    padding: 0;
}
.menu__title{
    text-align: center;
}
.menu__list-item{    
    list-style: none;
    margin-bottom: 1.5rem;
}
.menu__link{
    width: auto;
    margin: 0;
    text-align: center;
}

@media only screen and (max-width: 730px)
{
    .info-section--2-colmuns{
        flex-direction: column;
    }
    .info-section__content{
        width: 100%;
    }
    .info-section__img{
        width: 100%;        
        margin-top: 4rem;
    }   
    .info-section__menu{
        order: -1;
        width: 100%;
    }

    .menu{
        margin-bottom: 4rem;
    }
    .menu__title{
        color: var(--white);
        margin: .5em 0;
    }
    .menu__title-wrapper{
        background-color: var(--green);
    }
    .menu__title-wrapper:hover{
        background-color: var(--dark-green);
    }    
    .menu__list{
        background-color: var(--green);
    }
}