@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700&display=swap');

:root{
    --dark-blue: #003478;
    --blue: #04469D;
    --light-blue: #1075F9;
    --black: #2B2B2F;
    --white: #FFFFFF;
    --green: #74D729;
    --dark-green: #5cac20;
    --shadow: #002860;
    
    --content-width: 1140px;
    --slider-arrow-size: 4rem;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--black);

    scroll-behavior: smooth;
}

p{
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--blue);
}
h1{
    font-size: 4rem;
    font-weight: 900;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.8rem;
}
h5{
    font-size: 1.6rem;
}
h6{
    font-size: 1.4rem;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
a{
    color: var(--light-blue);
    font-weight: 700;
}
li{
    margin: .8em 0;
}

.section{
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 540px){
    html{
        font-size: 16px;        
    }
}

/* GENERAL COMPONENTS
  ===================================================== */

/* ----------ICONS---------- */
.icon{
    font-size: 1.5rem;
    color: var(--white);
}
.icon__wrapper{
    display: block;
    width: fit-content;   
}
.icon__wrapper--centered{
    margin: 0 auto;
}
.icon__wrapper--fit{
    padding: .5em;
}

/* ----------CONTENT---------- */
.content__wrapper{
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.content__background{
    position: relative;
}
.content__background--blue{
    padding-top: 4rem;
    padding-bottom:4rem;
}
.content__background--blue::before{
    background-color: var(--blue);    
}
.content__background--blue *{
    color: var(--white);    
}
.content__background::before{
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.content__wrapper.content__background::before{    
    width: var(--viewport-width);
    left: calc(-1 *((var(--viewport-width) - 100%) / 2));    
}
.content__wrapper--no-padding{
    padding: 0;
}

@media only screen and (max-width: var(--content-width)){
    .content__wrapper.content__background::before{    
        width: 100%;
        left: 0;    
    }    
}

/* ----------BUTTON---------- */
.button:link, .button:visited{
    display: block;
    width: fit-content;
    padding: .6rem 1.5rem;
    margin-top: 2em;
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--green);
    border: 3px solid var(--green);
    transition: all 100ms ease-in;
}
.button:hover, .button:active{    
    transform: scale(1.03);
    transition: all 100ms ease-in;
}

/* ----------IFRAME---------- */
.iframe__wrapper--responsive-16_9{
    --scale: 1;
    position: relative;
    overflow: hidden;
    width: calc(100% * var(--scale));
    padding-top: calc(56.25% * var(--scale));
}
.iframe__wrapper--responsive-4_3{
    --scale: 1;
    position: relative;
    overflow: hidden;
    width: calc(100% * var(--scale));
    padding-top: calc(75% * var(--scale));
}
.iframe{
    border: none;
}
.iframe--responsive{    
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
}

/* ----------INLINE COMPONENTS---------- */
.font--white{
    color: var(--white);
}