.why-us{    
    padding-top: 1rem;
    padding-bottom: 6rem;
}
.why-us__content{
    display: flex;
    justify-content: space-between;  
}
.why-us__title, .why-us__paragraph{
    text-align: center;
}
.why-us__title--main{
    margin: 2rem 0 4rem 0;
}
.why-us__title--sub{
    text-transform: capitalize;
    /* height: 2em; //potentionally line ups the paragraphs */
    font-size: 2rem;
}
.why-us__content-block{
    width: 30%;
}
.why-us__icon{
    color: var(--green);
    font-size: 2rem;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px){
    .why-us__content{
        flex-direction: column;
        align-items: center;
        gap: 4rem;
    }
    .why-us__content-block{
        width: 60%;
    }
}
@media only screen and (max-width: 500px){

    .why-us__content-block{
        width: 90%;
    }
}

.news{
    background-color: var(--blue);

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 12% auto 8rem;
    grid-template-areas: 
        "icon title button"
        "icon content button";
}
.news__title{
    padding: 1rem;
    margin: 0;
    font-size: 2rem;
    grid-area: title;
}
.news__icon-wrapper{
    grid-area: icon;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news__content{
    grid-area: content;
    padding: 1rem;
}
.news__icon-wrapper{
    background-color: var(--green);
}
.news__icon{
    font-size: 3rem;
}
.news__button{
    grid-area: button;
    justify-self: center;
    align-self: center;

    padding: 0;
    margin: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.news__button-icon{
    font-size: 1.8rem;
}

.news__info{
    font-weight: 700;
    max-width: fit-content;
    font-size: 1.2rem;
}
.news__info--left{
    float: left;
}
.news__info--right{
    float: right;
}

@media only screen and (max-width: 760px){
    .news{
        grid-template-rows: 4rem auto;
        grid-template-columns: 4rem auto;
        grid-template-areas: 
            "icon title"
            "content content";
    }
    .news__icon{
        font-size: 2rem;
    }
    .news__title{
        text-align: center;
    }
    .news__button{
        display: none;
    }
}