/* GENERAL COMPONENTS
  ===================================================== */

/* ----------ICONS---------- */
.icon{
    font-size: 1.5rem;
    color: var(--white);
}
.icon__wrapper{
    display: block;
    width: fit-content;   
}
.icon__wrapper--centered{
    margin: 0 auto;
}
.icon__wrapper--fit{
    padding: .5em;
}

/* ----------CONTENT---------- */
.content__wrapper{
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 0 1rem;
}
.content__background{
    position: relative;
}
.content__background--blue::before{
    background-color: var(--blue);    
}
.content__background--blue hgroup{
    color: var(--white);
}
.content__background::before{
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.content__wrapper.content__background::before{    
    width: var(--viewport-width);
    left: calc(-1 *((var(--viewport-width) - 100%) / 2));    
}
@media only screen and (max-width: var(--content-width)){
    .content__wrapper.content__background::before{    
        width: 100%;
        left: 0;    
    }
}

/* ----------BUTTON---------- */
.button:link, .button:visited{
    display: block;
    width: fit-content;
    padding: .6rem 1.5rem;
    margin: 2em 0;
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--green);
    border: 3px solid var(--green);
    transition: all 100ms ease-in;
}
.button:hover, .button:active{    
    transform: scale(1.03);
    transition: all 100ms ease-in;
}

/* ----------SECTION---------- */
.section{
    margin-top: 8rem;
    margin-bottom: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* ----------INLINE COMPONENTS---------- */
.font--white{
    color: var(--white);
}


/* HEADER
  ===================================================== */
.header{
    overflow-x: clip;    
}
.header::before{    
    background-color: var(--blue);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
}

/* ----------NAVBAR---------- */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px; 
}
.navbar::before{
    background-color: var(--dark-blue);   
    box-shadow: 0px 12px 20px 0px var(--shadow);
}
.navbar__logo{
    height: 70px;
}
.menu, .submenu{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.menu{
    display: flex;
    gap: 1em;
}
.menu__list{
    margin: initial;
}
.menu__list--dropdown{
    position: relative;
}
.menu__link--dropdown::after{
    display: inline-block;
    content: "\f0d7";
    font-family: 'FontAwesome';
    color: var(--white);
    margin-left: .7em;
    font-size: 1.5rem;
}
.menu__link:link, .menu__link:visited{
    display: block;
    text-decoration: none;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    padding: .7em 1em;
    transition: all 220ms ease-out;
}
.menu__link:hover, .menu__link:active{
    background-color: var(--green);
    transition: all 220ms ease-in;
}
.submenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: .5em;
    pointer-events: none;
    top: 200%;
    left: 0;
    width: 300px;
    background-color: var(--dark-blue);    
    opacity: 0;
    transition: all 220ms ease-out;
}
.menu__list--dropdown:hover > .submenu{
    pointer-events: all;
    top: 100%;
    opacity: 1;
    transition: all 220ms ease-out;
}

/* ----------HAMBURGER---------- */
.hamburger{
    display: none;
    cursor: pointer;
}
.hamburger__bar{
    display: block;
    width: 35px;
    height: 5px;
    margin: 7px auto;
    background: var(--white);    
    transition: .3s ease-in-out;
}

/* ----------TITLE---------- */
.header__title{
    color: var(--white);
    text-align: center;
    padding: 1em 1rem;
    margin: 0;
}
.header__subtitle{
    color: var(--green);
    display: block;
    font-size: .43em;
}

/* ----------RESPONSIVE HEADER---------- */
@media only screen and (max-width: 660px){
    .hamburger{
        display: block;
    }
    .hamburger.active .hamburger__bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .hamburger__bar:nth-child(1){
        transform: translateY(11.5px) rotateZ(45deg); 
    }
    .hamburger.active .hamburger__bar:nth-child(3){
        transform: translateY(-11.5px) rotateZ(-45deg);
    }        
    .menu{
        position: absolute;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 1em;
        top: 100%;
        right: -100%;
        background-color: var(--dark-blue);
        z-index: 1;
        box-shadow: 0px 12px 20px 0px var(--shadow);
        transition: all 300ms ease-out 150ms;
    }
    .menu.active{
        right: 0;
        transition: all 300ms ease-in;
    }
    .menu__list--first{
        width: 80%;
    }
    .menu__list--second{
        width: 300px;
    }

    .menu__link--dropdown{
        pointer-events: none;
    }
    .submenu{
        position: relative;
        left: 1em;
        max-height: initial;
        margin-left: 1em;
        opacity: 1;  
        border-left: 2px solid var(--green);        
    }   
}


/* info-section
  ===================================================== */
.info-section--2-colmuns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15%;
}
/* .info-section__content{

} */
.info-section__img{
    width: 40%;
    height: 40%;
}


/* ACCORDION
  ===================================================== */

.accordion{
    background-color: var(--dark-blue);
    margin: 4em 0;    
}
.accordion__bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;    
    transition: all .2s ease-in-out;
}
.accordion__bar:hover{
    background: var(--shadow);
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.accordion__bar::after{
    display: block;
    content: "\f0d7";
    font-family: 'FontAwesome';
    font-size: 3rem;
    color: var(--white);
}
.accordion__bar.open::after{    
    content: "\f0d8";   
}
.accordion__content{
    max-height: 0;
    overflow: hidden;
    padding: 0 2rem;    
    transition: max-height .3s ease-in-out;
}
.accordion__title{
    margin: 0;
}
.accordion__number{
    display: inline-block;
    font-size: 1.7rem;
    width: 1em;
    height: 1em;
    padding: .5em;
    background-color: var(--green);
    border-radius: 50%;
    margin-right: 1em;
    text-align: right;
}

/* SLIDER
  ===================================================== */

.slider__wrapper{
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.slide__img{
    width: 100%;
}
.slide__wrapper{
    background-color: var(--blue);   
    padding: .5em 1em;   
}
.slide__title{
    color: var(--white);
    font-size: 2rem;
    text-align: center;
}
.slide__button{
    width: initial;
    text-align: center;
    margin: 1em 0;
}
.controls__prev, .controls__next{
    position: absolute;
    top: 40%;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: var(--blue);
    box-shadow: 3px 3px 9px 0px var(--shadow);
    border: none;
    cursor: pointer;
}
/* @media only screen and (min-width: 800px){
    .slider__wrapper
} */
.controls__prev{
    left: -5em;
}
.controls__next{
    right: -5em;
}
.controls__icon{
    font-size: 1.7em;
    color: var(--white);
}
.tns-nav{
    margin: 2em auto;
    width: fit-content;
}
.tns-nav button{
    margin: 0 .15em;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    border: 3px solid var(--blue);
    background-color: transparent;
}
.tns-nav .tns-nav-active{
    background-color: var(--blue);
}


/* FOOTER
  ===================================================== */

.footer{
    background-color: var(--blue);
    margin: 0;
    padding: 1em;
}
.footer__paragraph{
    text-align: center;
}