/* GENERAL COMPONENTS
  ===================================================== */

.icon{
    font-size: 1.5rem;
}
.icon__wrapper{
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.content__wrapper{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1rem;
}

.button{
    display: block;
    width: fit-content;
    padding: .6rem 1.5rem;
    margin: 2em 0;
    text-decoration: none;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--green);
    border: 3px solid var(--green);
    transition: all .3s ease-out;
}
.button:hover{
    background-color: transparent;
    color: var(--green);
    transition: all .3s ease-in;
}

.section{
    margin-top: 8rem;
    margin-bottom: 8rem;
}

/* HEADER
  ===================================================== */

.header{
    background-color: var(--blue);
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
    overflow: hidden;
}

/* ----------NAVBAR---------- */
.navbar{
    background-color: var(--dark-blue);   
    box-shadow: 0px 12px 20px 0px var(--shadow);
}
.navbar__content-wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px; 
}
.navbar__logo{
    height: 70px;
}
.menu, .submenu{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.menu{
    display: flex;
}
.menu__list--dropdown{
    position: relative;}

.menu__link{
    display: block;
    text-decoration: none;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    padding: .7em 1em;
    transition: all 220ms ease-out;
}
.menu__link:hover{
    background-color: var(--green);
    transition: all 220ms ease-in;
}
.submenu{
    position: absolute;
    top: 200%;
    left: 0;
    width: 300px;
    background-color: var(--dark-blue);    
    opacity: 0;
    transition: all 200ms ease-out;
}

.menu > li:hover > .submenu{
    top: 100%;
    opacity: 1;
    transition: all 200ms ease-out;

}

/* ----------HAMBURGER---------- */
.hamburger{
    display: none;
    cursor: pointer;
}
.hamburger__bar{
    display: block;
    width: 35px;
    height: 5px;
    margin: 7px auto;
    background: var(--white);    
    transition: .3s ease-in-out;
}
@media only screen and (max-width: 660px){
    .hamburger{
        display: block;
    }
    .hamburger.active .hamburger__bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .hamburger__bar:nth-child(1){
        transform: translateY(11.5px) rotateZ(45deg); 
    }
    .hamburger.active .hamburger__bar:nth-child(3){
        transform: translateY(-11.5px) rotateZ(-45deg);
    }    
    
    .menu{
        position: absolute;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 1em;
        top: 98px;
        right: -100vw;
        background-color: var(--dark-blue);
        box-shadow: 0px 12px 20px 0px var(--shadow);
        transition: .3s ease-in-out;
    }
    .menu.active{
        right: 0;
    }    
}

/* ----------TITLE---------- */
.header__title{
    color: var(--white);
    text-align: center;
    padding: 1em 0;
    margin: 0;
}
.header__subtitle{
    color: var(--green);
    display: block;
    font-size: .43em;
}



/* HEADER
  ===================================================== */
.info-section--2-colmuns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15%;
}
/* .info-section__content{

} */
.info-section__img{
    width: 40%;
    height: 40%;
}