.why-us__background{
    background-color: var(--blue);
    padding: 1rem 0 6rem 0;
    
}
.why-us{
    display: flex;
    justify-content: space-between;    
}

.why-us__title, .why-us__paragraph{
    color: var(--white);
    text-align: center;
}
.why-us__title--main{
    margin: 2rem 0 4rem 0;
}
.why-us__title--sub{
    text-transform: capitalize;
    /* height: 2em; //potentionally line ups the paragraphs */
    font-size: 2rem;
}
.why-us__content-block{
    width: 30%;
}
.why-us__icon{
    color: var(--green);
    font-size: 2rem;
    margin: 0 auto;
}